{% extends 'base.html.twig' %}

{% trans_default_domain 'ads' %}

{% block layout %}
<div class="relative selection:bg-red-500 selection:text-white">
    <div class="max-w-7xl mx-auto p-6 lg:p-8">
        <div class="mt-4">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6 lg:gap-8">
                {% for ad in ads %}
                    <a href="{{ url('ad_show', { 'id': ad.id }) }}"
                       class="scale-100 p-6 bg-white from-gray-700/50 via-transparent rounded-lg shadow-2xl shadow-gray-500/20 flex motion-safe:hover:scale-[1.01] transition-all duration-250 focus:outline focus:outline-2 focus:outline-red-500">
                        <div>
                            <div class="h-16 w-16 bg-red-50 flex items-center justify-center rounded-full">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                     stroke-width="1.5" class="w-7 h-7 stroke-red-500">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M6.115 5.19l.319 1.913A6 6 0 008.11 10.36L9.75 12l-.387.775c-.217.433-.132.956.21 1.298l1.348 1.348c.21.21.329.497.329.795v1.089c0 .426.24.815.622 1.006l.153.076c.433.217.956.132 1.298-.21l.723-.723a8.7 8.7 0 002.288-4.042 1.087 1.087 0 00-.358-1.099l-1.33-1.108c-.251-.21-.582-.299-.905-.245l-1.17.195a1.125 1.125 0 01-.98-.314l-.295-.295a1.125 1.125 0 010-1.591l.13-.132a1.125 1.125 0 011.3-.21l.603.302a.809.809 0 001.086-1.086L14.25 7.5l1.256-.837a4.5 4.5 0 001.528-1.732l.146-.292M6.115 5.19A9 9 0 1017.18 4.64M6.115 5.19A8.965 8.965 0 0112 3c1.929 0 3.716.607 5.18 1.64"/>
                                </svg>
                            </div>
                            <h2 class="mt-6 text-xl font-semibold text-gray-900">{{ ad.title }}</h2>
                            <p class="mt-4 text-gray-500 text-sm leading-relaxed">{{ ad.description }}</p>
                        </div>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             class="self-center shrink-0 stroke-red-500 w-6 h-6 mx-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75"/>
                        </svg>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="flex items-center justify-center">
        <nav aria-label="Page navigation example">
            <ul class="inline-flex -space-x-px text-base h-10">
                <li>
                    <a href="{{ path('ad_index', {'page': 1 })}}" class="flex items-center justify-center px-4 h-10 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg {% if page != 1  %}hover:bg-gray-100 hover:text-gray-700{% endif %}{% if page == 1  %}cursor-not-allowed{% endif %}">
                        <i class="fa-solid fa-angles-left"></i>
                    </a>
                </li>
                <li>
                    <a href="{{ path('ad_index', {'page': max(page - 1, 1)}) }}" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 {% if page != 1  %}hover:bg-gray-100 hover:text-gray-700{% endif %}{% if page == 1  %}cursor-not-allowed{% endif %}">
                        <i class="fa-solid fa-chevron-left"></i>
                    </a>
                </li>
                <li class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 cursor-default">{{ page }}</li>
                <li class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 cursor-default">{{ 'pagination.to'|trans }}</li>
                <li class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 cursor-default">{{ totalPages }}</li>
                <li>
                    <a href="{{ path('ad_index', {'page': min(page + 1, totalPages)}) }}" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 {% if page != totalPages %}hover:bg-gray-100 hover:text-gray-700{% endif %}{% if page == totalPages  %}cursor-not-allowed{% endif %}">
                        <i class="fa-solid fa-chevron-right"></i>
                    </a>
                </li>
                <li>
                    <a href="{{ path('ad_index', {'page': totalPages })}}" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg {% if page != totalPages %}hover:bg-gray-100 hover:text-gray-700{% endif %}{% if page == totalPages  %}cursor-not-allowed{% endif %}">
                        <i class="fa-solid fa-angles-right"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
{% endblock %}